<ion-view title="Confirmacion" id="page22">
  
  <ion-content padding="true" class="has-header">

  <h3 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">GENIAL !</h3>

  <h4 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Tu servicio ha sido programado</h4>

  <div class='row'>
    <div class="col"></div>
    <div class="col"><img src="img/hai.png" alt="" style='    background: #ef473a;
    border-radius: 50%;'></div>
    <div class="col"></div>
  </div>
  
  <h5 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Tu manicurista esta por definirse</h5>


    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="detalleDelServicio()">
      <img src="" style='border-radius:50%' >
     <h2>Manos</h2>
        <p>Lunes 20 Nov 6:40</p>
    </a>

    
      <a class="item item-thumbnail-left" ui-sref="detalleDelServicio()">
      <img src="" style='border-radius:50%' >
     <h2>Pies</h2>
        <p>Lunes 20 Nov 7:40</p>
    </a>

<br>

  <div class="button-bar">
  <a class="button button-assertive button-outline">Cancelar Servicio</a>
  <a class="button button-assertive button-outline">Adicionar Servicio</a>
</div>

</div>

  </ion-content>
</ion-view>

