<ion-view title="Confirmacion" id="page22">
  
  <ion-content padding="true" class="has-header">

  <h3 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">GENIAL !</h3>

  <center><h4 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Tu servicio ha sido programado</h4></center>

  <div class='row'>
    <div class="col"></div>
    <div class="col"><img src="img/hai.png" alt="" style='    background: #ef473a;
    border-radius: 50%;'></div>
    <div class="col"></div>
  </div>
    
  
  <h5 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Tu manicurista esta por definirse</h5>

  <div class="button-bar">
  <a class="button button-assertive button-outline">Cancelar Servicio</a>
  <a class="button button-assertive button-outline" ng-click='adicionar()'>Adicionar Servicio</a>
</div>


  <h5> Dia:  {{dia}}</h5>
        <h5>Hora : {{hora}}</h5>




   <div class="list">

      <div class="item" ng-repeat="s in confirmacion.pedido">
      {{s.nombre}}

      <span class="item-note">
      S/. {{s.precio}}
      </span>
      </div>


      </div>



    

<br>

  



  </ion-content>
</ion-view>

