<ion-view title="Detalle del Servicio" id="page22">
  
  <ion-content padding="true" class="has-header">


  <center><h4 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Tu socia asignada es</h4></center>

   <div class='row'>
    <div class="col"></div>
    <div class="col"><img class='animated flipInX' src="{{host}}/{{servicio.socia__photo}}" alt="" style='background: #ef473a;
    border-radius: 50%; max-width: 212px;'></div>
    <div class="col"></div>
  </div> 
    
  
  <h5 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">{{servicio.cliente__nombre}}</h5>


  <h5>Dia : {{servicio.dia__nombre}}</h5>
  <h5>Fecha : {{servicio.fecha}}</h5>
  <h5>Hora: {{servicio.fecha_inicio}}</h5>


      <div class="list">

      <div class="item" ng-repeat="s in servicio.pedidos">
      {{s.subcategoria__nombre}}

      <span class="item-note">
      S/. {{s.subcategoria__precio}}
      </span>
      </div>


      </div>


        <div class="button-bar">
  <a class="button button-assertive button-outline">Cancelar Servicio</a>
  <a class="button button-assertive button-outline" ng-click='adicionar()'>Aceptar Servicio</a>
</div>



  



  </ion-content>
</ion-view>

