<ion-view title="Detalle de la opcion" id="page13" ng-init="seguimiento=1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle" ui-sref="home()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="detalleDeLaOpcion-list22">
      <ion-item class="item-icon-left" id="detalleDeLaOpcion-list-item92">
        <i class="icon ion-ios-checkmark-outline"></i>Estilo nuevo</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="detalleDeLaOpcion-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este servicio es altamanete bueno</p>
    </div>
  </ion-content>
</ion-view>