

<ion-view title="Subscribete" id="formularioservicio" style="" scroll='true'>

	 <ion-nav-buttons>
<button class="button button-clear"  ui-sref="menu.socia" >
     <i class="icon ion-ios-arrow-back"></i>
     Back</button>
      </ion-nav-buttons>

      


 

  <ion-content padding="true" class="has-header">

  	     <h3 id="miPerfil-heading30" style="color: rgb(0, 0, 0); font-weight: 300; ">{{servicio}}</h3>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Descripcion">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Costo">
  </label>

   <div id="seguimiento2-button-bar4" class="button-bar">
        <button id="seguimiento2-button58"  style="" class="button button-dark button-block button-outline">Agregar Turno</button>
        
      
      </div>
 
</div>



</ion-content>

</ion-view>