<ion-view title="Belleza Express" hide-nav-bar="true" id="page11">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="bellezaExpress-slider2" style="width:100%;height:220px;" class="slide1">
      <ion-slide-page id="bellezaExpress-slide28" style="background:url(&quot;img/ElluU7tWRiSv4zCKC7ak_58dc97cbd40b3.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bellezaExpress-slide21" style="background:url(&quot;img/wgODjy1FQyaiRgwHZsAA_cosmetologia3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="bellezaExpress-form36" class="list search1">
      <label class="item item-select" id="bellezaExpress-select15">
        <span class="input-label">Ubicacion</span>
        <select>
          <option ng-repeat='d in distrito'>{{d.nombre}}</option>
    
        </select>
      </label>
      <div id="bellezaExpress-markdown12" style="text-align:center;" class="show-list-numbers-and-dots titulo">
        <p style="color:#000000;font-size:35px;">{{categoria[0].nombre}}</p>
      </div>
      <div>
        <a style="display:block;" ui-sref="manos()">
          <img src="img/6tVUiNIjRl2bqLpqXgma_nails-opi-01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 320px; height: 3px;"></div>
    </form>
    <div id="bellezaExpress-markdown13" class="show-list-numbers-and-dots titulo2">
      <p style="color:#000000;font-size:35px;">{{categoria[1].nombre}}</p>
    </div>
    <div>
      <a style="display:block;" ui-sref="pies()">
        <img src="img/HNwAQUubRcaao13WPyIB_laser-hair-removal-idaho-falls-silky-sexy.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
    <div id="bellezaExpress-markdown14" class="show-list-numbers-and-dots titulo3">
      <p style="color:#000000;font-size:35px;">{{categoria[2].nombre}}</p>
    </div>
    <div>
      <a style="display:block;" ui-sref="maquillaje()">
        <img src="img/BZRcawKeR9SYxjiQGkTB_Blue-Eyes-Makeup-01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>

    <div>
        

    <div class="spacer" style="width: 320px; height: 7px;"></div>
 
      <center><button class="button button-dark" ui-sref="login()" style='color:#fff' >
    Socia Belleza Express
      </button></center>


    </div>
    
    <div class="spacer" style="width: 320px; height: 7px;"></div>
  </ion-content>
</ion-view>