<ion-view title="Belleza Express" hide-nav-bar="true" id="page11">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-ios-statusbar-padding">




    <ion-slides  disable-side-menu-drag="" slider="slider2" auto-play=true delegate-handle="slider2" id="bellezaExpress-slider2" style="width:100%;height:220px;" class="slide1">



      <ion-slide-page ng-repeat='p in portadaphoto' id="{{p.photo}}" style="background:url({{host}}/{{p.photo}}) no-repeat center;background-size:cover;"></ion-slide-page>



    </ion-slides>


    <div class="spacer" style="width: 320px; height: 5px;"></div>

    <form id="bellezaExpress-form36" class="list search1">
      

        <a style="display:block;" ui-sref="manos({categoria: 'manos'})">
          <img src="{{host}}/{{categoria[0].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 320px; height: 3px;"></div>
    </form>
  
    <div>
      <a style="display:block;" ui-sref="manos({categoria:'pies' })">
        <img src="{{host}}/{{categoria[1].photo}}"  style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
   
    <div>
      <a style="display:block;" ui-sref="manos({categoria: 'maquillaje'})">
        <img src="{{host}}/{{categoria[2].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
    <div>
      <a style="display:block;" ui-sref="manos({categoria: 'podologia'})">
        <img src="{{host}}/{{categoria[3].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>

    <div class="spacer" style="width: 320px; height: 5px;"></div>
   <div>
      <a style="display:block;" ui-sref="manos({categoria: 'masajes'})">
        <img src="{{host}}/{{categoria[4].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>

    <div>
        

    <div class="spacer" style="width: 320px; height: 7px;"></div>
 

    </div>
    
    <div class="spacer" style="width: 320px; height: 7px;"></div>
  </ion-content>
</ion-view>