

<ion-view title="Belleza Express"  hide-nav-bar="false" id="page11">




 <div ng-include src="'templates/tabs.html'"></div>



  <ion-nav-buttons side="left" style='background-color: transparent !important;'>
   
     <button class = "button button-icon icon ion-navicon" ng-click = "toggleLeft()"></button>



  </ion-nav-buttons>


  <ion-side-menus>


          <!-- Left menu -->
          <ion-side-menu side="left"><ion-content padding="false" style="top:0px !important;" class="side-menu-left sider-menu">
              <div class="spacer" style="width: 268px; height: 41px;"></div>
              <div class="profile-menu">
                <img src="{{host}}/{{miperfil.photo}}" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="menu-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;">{{miperfil.nombre}} </h1>
              
              <h5 id="menu-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;">{{miperfil.user__groups__name}} </h5>
              <div class="spacer" style="width: 268px; height: 29px;"></div>
              <ion-list id="menu-list6">
                <ion-item ui-sref="perfil()" menu-close="" class="item-icon-left dark side-menu" id="menu-list-item17">


                <i class = "icon ion-ios-person" ></i>

                    Mi Perfil</ion-item>
                <ion-item  ui-sref="citas()" menu-close="" class="item-icon-left dark side-menu"  id="menu-list-item71" >

                <i class = "icon ion-ios-keypad"></i>
                  Mi Historial</ion-item>
                
                <ion-item class="item-icon-left side-menu" menu-close="" ng-click='salir()' id="menu-list-item20">
                <i class = "icon ion-log-out" ></i>
                
                Salir</ion-item>
              </ion-list>
              <div class="spacer" style="height: 100px;"></div>
              <div class="spacer" style="height: 100px;"></div>
              <div class="spacer" style="height: 100px;"></div>
              
            </ion-content>
          </ion-side-menu>

  <ion-side-menu-content>

 

 
<ion-nav-bar class="bar bar-dark nav-bar-container yape " nav-bar-transition="ios" nav-bar-direction="none" nav-swipe="">
   
    <div class="nav-bar-block " nav-bar="cached">

    <ion-header-bar class=" bar bar-header" style='background-color: transparent !important;' align-title="center"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> <span class="back-text"></span></button><div class="title title-center header-item"></div></ion-header-bar>


    </div>

    <div class="nav-bar-block" nav-bar="active">

      <ion-header-bar class="bar-dark bar bar-header " align-title="center" style='background-color: transparent !important;'><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> <span class="back-text"></span></button><div class="buttons buttons-left"><span class="left-buttons">

      <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>

      </span></div></ion-header-bar>

      </div>

</ion-nav-bar> 


     <ion-content padding="false" class="manual-ios-statusbar-padding" style='position: absolute !important; top:0;'>
    <ion-slides  disable-side-menu-drag="" slider="slider2" auto-play=true delegate-handle="slider2" id="bellezaExpress-slider2" style="width:100%;height:220px;" class="slide1">



      <ion-slide-page ng-repeat='p in portadaphoto' id="{{p.photo}}" style="background:url({{host}}/{{p.photo}}) no-repeat center;background-size:cover;"></ion-slide-page>



    </ion-slides>


    <div class="spacer" style="width: 320px; height: 5px;"></div>

    <form id="bellezaExpress-form36" class="list search1">
      

        <a style="display:block;" ui-sref="manos({categoria: 'manos'})">
          <img src="{{host}}/{{categoria[0].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 320px; height: 3px;"></div>
    </form>
  
    <div>
      <a style="display:block;" ui-sref="manos({categoria:'pies' })">
        <img src="{{host}}/{{categoria[1].photo}}"  style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
   
    <div>
      <a style="display:block;" ui-sref="manos({categoria: 'maquillaje'})">
        <img src="{{host}}/{{categoria[2].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 320px; height: 5px;"></div>
    <div>
      <a style="display:block;" ui-sref="manos({categoria: 'podologia'})">
        <img src="{{host}}/{{categoria[3].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>

    <div class="spacer" style="width: 320px; height: 5px;"></div>
   <div>
      <a style="display:block;" ui-sref="manos({categoria: 'masajes'})">
        <img src="{{host}}/{{categoria[4].photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>

    <div>
        



    </div>
    
   
  </ion-content>
  



  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>

<style type="text/css">
  

 /* .bar.bar-dark {
    border-color: transparent;
}*/
</style> 



</ion-view>