<ion-view title="Inicio" hide-nav-bar="true" id="page30" class="inicio">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 34.9805px;"></div>
    <div class="profile-menu">
      <img src="img/qH4PEWl0QMiU1mpZQj3f_DcZvLrSOSkOY0bkZXLgU_leonardo-6.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="inicio-heading42" style="color:#fff;font-weight:300;text-align:center;">Leonardo</h1>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <ion-list id="inicio-list12">
      <ion-item class="item-icon-left side-menu" id="inicio-list-item101" ui-sref="bellezaExpress()">
        <i class="icon ion-android-person"></i>Mi Perfil</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item102" href-inappbrowser="page21">
        <i class="icon ion-heart"></i>Registro de Citas</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item103" href-inappbrowser="page19">
        <i class="icon ion-android-calendar"></i>Historial de Citas</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item109" href-inappbrowser="page23">
        <i class="icon ion-social-buffer"></i>Resumen de Citas</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item115" href-inappbrowser="page26">
        <i class="icon ion-connection-bars"></i>Resumen de Negocios</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item111" href-inappbrowser="page24">
        <i class="icon ion-pie-graph"></i>Mi Cartera</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item100" ui-sref="reservar()">
        <i class="icon ion-person-stalker"></i>Mis Clientes</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item113" href-inappbrowser="page20">
        <i class="icon ion-log-out"></i>Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-view>