<ion-view title="Login" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(http://i.dailymail.co.uk/i/pix/2014/12/21/150F7244000005DC-2882705-image-a-3_1419183043482.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 100px;"></div>
    <div id="login-container1">
      <form id="login-form4" class="list center-form">
        <div class="spacer" style="height: 100px;"></div>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
        <a ui-sref="menu.socia()" id="login-button12" class="button button-dark button-block">Ingresar</a>
      </form>
    </div>
    <div id="login-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>