<ion-view title="Login" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(http://i.dailymail.co.uk/i/pix/2014/12/21/150F7244000005DC-2882705-image-a-3_1419183043482.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 100px;"></div>
    <div id="login-container1">

    <img src="" alt="">

<!--     <div class="profile-menu1">
      <img src="http://www.freeiconspng.com/uploads/facebook-sign-in-button-png-26.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div> -->
      <form id="login-form4" class="list center-form">
 
        <label class="item item-input" id="login-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Telefono</span>
          <input type="text" placeholder="">
        </label>

        <label class="item item-input" id="login-input5">
          <span class="input-label">Nombres</span>
          <input type="text" placeholder="">
        </label>

        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>

        <a ui-sref="home()" id="login-button12" class="button button-dark button-block">Ingresar</a>
      </form>
    </div>
    <div id="login-button-bar2" class="button-bar"></div>

          <center><button class="button button-assertive" ui-sref="menu.socia()" style='color:#fff' >
    Socia Belleza Express
      </button></center>



  </ion-content>
</ion-view>