<ion-view title="Belleza Express" id="menucliente" >
  <ion-nav-buttons side="right" class="has-header">
    
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ng-click='servicios=manos' ng-class="{active: servicios==manos}" >
      
        <span class='icon-servicios'>Manos</span>
      </a>
      <a class="tab-item" ng-click='servicios=pies' ng-class="{active: servicios==pies}" >
   
        <span class='icon-servicios' >Pies</span>
      </a>
      <a ng-click='servicios=maquillaje' class="tab-item" ng-class="{active: servicios==maquillaje}" >
  
        <span class='icon-servicios' >Maquillaje</span>
      </a>

      <a ng-click='servicios=podologia' class="tab-item" ng-class="{active: servicios==podologia}" >

        <span class='icon-servicios' >Podologia</span>
      </a>


    </div>
  </div>

  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <!-- <div>
      <img src="img/b6wpDhTFCebbLNVkLJ6w_nails-opi-01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div> -->
     
      <div class="spacer" style="height: 50px;"></div>         



 
<div class="list">

  <div ng-repeat = 'm in servicios'>
  <div class="item item-icon-left item-icon-right"  ng-model="m.value" >

    <i class="icon ion-ios-plus-outline"  style='max-height: 51px;color:#a0a0a0;' ng-hide='descripcion' ng-click='selecciona(m);descripcion=true'></i>

    <i class="icon ion-ios-minus-outline"  style='max-height: 51px;color:#a0a0a0;' ng-show='descripcion' ng-click='selecciona(m);descripcion=false'></i>

    {{m.nombre}} 

    <span style='position: absolute;
    right: 64px;
'>S/. {{m.precio}} </span>
   
 



     <i class="icon ion-ios-checkmark" ng-if='m.check===true;' style='max-height: 51px;' ng-model='m.check' ng-click="deselec(m,$index)"></i>

     <i class="icon ion-ios-checkmark-outline" ng-if='m.check===false;' style='max-height: 51px;' ng-model='m.check' ng-click="selec(m,$index)"></i>



  </div>

  <p ng-show='descripcion' class='detallesubcategoria' ng-bind-html="m.descripcion"> 


             

        </p>


  </div>


</div>

    
 

  </ion-content>

  <div class="fixed44" ng-if='book>0' ><a ui-sref="reservar({servicio: totalpedido})" style=' background: #ef473a;
    padding: 45px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
     padding-left: 21px;' > <i class="fa fa-camera" aria-hidden="true"></i>  <i class="icon ion-ios-cart" style="font-size: 22px;
    margin-left: 0px;
    margin-right: 10px;" ></i> Reservar <span style='background: #fff;
    color: #123;
    width: 24px;
    height: 24px;
    border-radius: 32px;
    /* padding: 5px; */
    padding-top: 1px;
    margin-left: 11px;
    position: absolute;
    margin-top: 1px;;'> {{book}}  </span><span style='margin-left: 50px;
'> S/. {{precio}}</span></a></div>




</ion-view>