<ion-view title="manos" id="page16" ng-init="tab=1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle" ui-sref="home()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div>
      <img src="img/b6wpDhTFCebbLNVkLJ6w_nails-opi-01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="manos-button-bar19" class="button-bar"></div>
    


 


<div class="list">
  <div class="item item-icon-left item-icon-right" ng-repeat = 'm in manos' ng-model="m.value" >

    <i class="icon ion-ios-plus-outline"  style='max-height: 51px;color:#a0a0a0;' ng-hide='descripcion' ng-click='selecciona(m);descripcion=true'></i>

    <i class="icon ion-ios-minus-outline"  style='max-height: 51px;color:#a0a0a0;' ng-show='descripcion' ng-click='selecciona(m);descripcion=false'></i>

    {{m.nombre}} 
 


  
        <p ng-show='descripcion' style='padding-top: 14px;line-height: 23px;
    letter-spacing: .2px;font-weight: 300;' ng-bind-html="m.descripcion"> 
        
        </p>

     <i class="icon ion-ios-checkmark" ng-if='m.check===true' style='max-height: 51px;' ng-click="deselec(m)"></i>

     <i class="icon ion-ios-checkmark-outline" ng-if='m.check===false' style='max-height: 51px;' ng-click="selec(m)"></i>



  </div>


</div>

    
    <div id="manos-container19" class="busqueda">
      <a ui-sref="resultados()" id="manos-button114" style="font-weight:300;text-align:left;" class="button button-assertive button-block icon-right ion-chevron-right">Busqueda</a>

    </div>




  </ion-content>
</ion-view>