<ion-view title="Detalle del Servicio" id="page22">
  
  <ion-content padding="true" class="has-header">


  <center><h4 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">{{servicio.cliente__nombre}} requiere tus servicios</h4></center>

   <div class='row'>
    <div class="col"></div>
    <div class="col"><img class='animated flipInX' src="{{host}}/{{servicio.cliente__photo}}" alt="" style='background: #ef473a;
    border-radius: 50%; max-width: 181px;'></div>
    <div class="col"></div>
  </div> 
    
  <div class="list">

  <div ng-repeat = 'm in servicio.pedidos'>
  <div class="item item-icon-left item-icon-right"  ng-model="m.value" >

 

    {{m.subcategoria__nombre}} 

    <span style='position: absolute;
    right: 64px;
'>S/. {{m.subcategoria__precio}} </span>
   
 

   

  </div>
	</div>

	</div>

  <div class="button-bar">
  <a class="button button-assertive button-outline">Cancelar Servicio</a>
  <a class="button button-assertive button-outline" ng-click='aceptarservicio(servicio)'>Aceptar Servicio</a>
</div>

  <h4>Dia : {{servicio.dia__nombre}}</h4>
  <h4> Hora:  {{servicio.fecha_inicio}}</h4>
      


    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="detalleDelServicio()" ng-repeat="s in categorias">
      <img src="" style='border-radius:50%' >
     <h2>{{s.nombre}}</h2>
     
    </a>

  </div>



    

<br>

  



  </ion-content>
</ion-view>

