<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFF7F7;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left sider-menu">
      <div class="spacer" style="width: 268px; height: 41px;"></div>
      <div class="profile-menu">
        <img src="img/c9IGoL3cR2KasOEdhEFr_original-tar-style-el-estilo-de-gafas-de-sol-famosas-9583182-4-esl-es-las-gafas-de-sol-de-las-celebrities-jpg.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="menu-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;">Ana Mariaooo </h1>
      <div class="spacer" style="width: 268px; height: 29px;"></div>
      <ion-list id="menu-list6">
        <ion-item ui-sref="menu.perfil()" menu-close="" class="item-icon-left dark side-menu" id="menu-list-item17">
             <img class='icon'  src="img/woman-with-long-hair.png">Mi Perfil</ion-item>
        <ion-item  ui-sref="menu.socia()" menu-close="" class="item-icon-left dark side-menu"  id="menu-list-item71" >
          <img class='icon'   src="img/lipstick.png">Servicios</ion-item>
        <ion-item class="item-icon-left dark side-menu" id="menu-list-item73">
          <i class="icon ion-android-people"></i>Mis Clientes</ion-item>
        <ion-item class="item-icon-left side-menu" id="menu-list-item20">
          <i class="icon ion-log-out"></i>Salir</ion-item>
      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>
      <style type="text/css">
        .icon{
          max-width: 30px;
          max-height: 30px;
          margin-top: 7px;}
      </style>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


<!-- 

<ion-view title="Mi Perfil" id="formularioservicio" style="" scroll='true'>

	

      


 

  <ion-content padding="true" class="has-header">
    <h3 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Datos Personales</h3>
    <form id="fichaDeCliente-form19" class="list" ng-submit='actualizarcliente(cliente)'>


      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Nombre</span>
        <input ng-model='cliente.user__first_name'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Apellido</span>
        <input ng-model='cliente.user__first_name'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input32">
        <span class="input-label">Email</span>
        <input ng-model='cliente.user__email'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input32">
        <span class="input-label">Referencia</span>
        <input ng-model='cliente.user__email'  type="text">
      </label>
      <label class="item item-input" id="fichaDeCliente-input33">
        <span class="input-label">Telefono</span>
        <input ng-model='cliente.telefono.numero'  type="tel">
      </label>
      <label class="item item-input" id="fichaDeCliente-input34">
        <span class="input-label">Direccion</span>
        <input ng-model='cliente.user__direccion'  type="text">
      </label>

       <label class="item item-input" id="fichaDeCliente-input34">
        <span class="input-label">Distrito</span>
        <input ng-model='cliente.user__direccion' placeholder="Alameda Peru 125" type="text">
      </label>
     
      
      
     
      


 
   
      <button id="fichaDeCliente-button120" type="submit" class="button button-dark button-block">Guardar</button>
    </form>

       
 


        <div class="spacer" style="width: 268px; height: 45px;"></div>
  </ion-content>

</ion-view> -->