

<ion-view title="Mi Perfil" id="formularioservicio" style="" scroll='true'>

	

      


 

  <ion-content padding="true" class="has-header">
    <h3 id="fichaDeCliente-heading18" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Datos Personales</h3>
    <form id="fichaDeCliente-form19" class="list" ng-submit='actualizarcliente(cliente)'>


      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Nombre</span>
        <input ng-model='cliente.user__first_name'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Apellido</span>
        <input ng-model='cliente.user__first_name'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input32">
        <span class="input-label">Email</span>
        <input ng-model='cliente.user__email'  type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input32">
        <span class="input-label">Referencia</span>
        <input ng-model='cliente.user__email'  type="text">
      </label>
      <label class="item item-input" id="fichaDeCliente-input33">
        <span class="input-label">Telefono</span>
        <input ng-model='cliente.telefono.numero'  type="tel">
      </label>
      <label class="item item-input" id="fichaDeCliente-input34">
        <span class="input-label">Direccion</span>
        <input ng-model='cliente.user__direccion'  type="text">
      </label>

       <label class="item item-input" id="fichaDeCliente-input34">
        <span class="input-label">Distrito</span>
        <input ng-model='cliente.user__direccion' placeholder="Alameda Peru 125" type="text">
      </label>
     
      
      
     
      


 
   
      <button id="fichaDeCliente-button120" type="submit" class="button button-dark button-block">Guardar</button>
    </form>

       
 


        <div class="spacer" style="width: 268px; height: 45px;"></div>
  </ion-content>

</ion-view>