

<ion-view title="Belleza Express" hide-nav-bar="false" id="page11">




  <ion-nav-buttons side="right">
  
     <button class = "button button-icon icon ion-navicon" ng-click = "toggleLeft()"></button>

  </ion-nav-buttons>
  <ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left"><ion-content padding="false" style="top:0px !important;" class="side-menu-left sider-menu">
      <div class="spacer" style="width: 268px; height: 41px;"></div>
      <div class="profile-menu">
        <img src="img/c9IGoL3cR2KasOEdhEFr_original-tar-style-el-estilo-de-gafas-de-sol-famosas-9583182-4-esl-es-las-gafas-de-sol-de-las-celebrities-jpg.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="menu-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;">Ana Mariaiii </h1>
      <div class="spacer" style="width: 268px; height: 29px;"></div>
      <ion-list id="menu-list6">
        <ion-item ui-sref="menu.perfil()" menu-close="" class="item-icon-left dark side-menu" id="menu-list-item17">
             <img class='icon'  src="img/woman-with-long-hair.png">Mi Perfil</ion-item>
        <ion-item  ui-sref="menu.socia()" menu-close="" class="item-icon-left dark side-menu"  id="menu-list-item71" >
          <img class='icon'   src="img/lipstick.png">Servicios</ion-item>
        <ion-item class="item-icon-left dark side-menu" id="menu-list-item73">
          <i class="icon ion-android-people"></i>Mis Clientes</ion-item>
        <ion-item class="item-icon-left side-menu" id="menu-list-item20">
          <i class="icon ion-log-out"></i>Salir</ion-item>
      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>
      <style type="text/css">
        .icon{
          max-width: 30px;
          max-height: 30px;
          margin-top: 7px;}
      </style>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>ssss
  <!-- Main contentsss, usually <ion-nav-view> -->
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>
</ion-view>