<ion-view title="Reservar" id="page22">
  <ion-nav-buttons side="right" class="has-header">
    
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="reservar-button-bar16" class="button-bar"></div>
    <div id="reservar-button-bar17" class="button-bar"></div>
    <form id="reservar-form21" class="list">
      
      <div id="reservar-button-bar18" class="button-bar"></div>
      
      <h3 id="reservar-heading9" style="color:#000000;font-weight:300;">Seleccione la fecha</h3>
      <label class="item item-input" id="reservar-input10">
        <span class="input-label">Que dia?</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="reservar-input39">
        <span class="input-label">A que hora?</span>
        <input type="time" placeholder="">
      </label>

      <label class="item item-select" id="bellezaExpress-select15">
        <span class="input-label">Ubicacion</span>
        <select>
          <option ng-repeat='d in distrito'>{{d.nombre}}</option>
    
        </select>
      </label>


    </form>
    <button id="reservar-button119" class="button button-assertive button-block" ui-sref="resultados()">Buscar</button>
  </ion-content>
</ion-view>