<ion-view title="Reservar" id="page22">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle" ui-sref="home()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="reservar-button-bar16" class="button-bar"></div>
    <div id="reservar-button-bar17" class="button-bar"></div>
    <form id="reservar-form21" class="list">
      <button id="reservar-button116" class="button button-assertive button-block">Cambiar Servicio</button>
      <div id="reservar-button-bar18" class="button-bar"></div>
      <ion-item class="item-avatar" id="reservar-list-item95">
        <img src="img/TW5DhAiASclI4POdk69Q_knAkWz8I_400x400.jpg">
        <h2>Ana Maria</h2>
        <p>Manicure Express</p>
      </ion-item>
      <h3 id="reservar-heading9" style="color:#000000;font-weight:300;">Seleccione la fecha</h3>
      <label class="item item-input" id="reservar-input10">
        <span class="input-label">Que dia?</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="reservar-input39">
        <span class="input-label">A que hora?</span>
        <input type="time" placeholder="">
      </label>
    </form>
    <button id="reservar-button119" class="button button-assertive button-block">Reservar</button>
  </ion-content>
</ion-view>