<ion-view title="Resultados" id="page10">
  <ion-nav-buttons side="right" class="has-header">

  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    
    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="detalleDelServicio()">
      <img src="img/d8K0aBI3R9qK10aOwKvz_knAkWz8I_400x400.jpg" style='border-radius:50%' >
     <h2>Berta Rebeca</h2>
        <p>Manicurista Experta</p>
    </a>

    


    <a class="item item-thumbnail-left" ui-sref="detalleDelServicio()">
      <img src="img/Bb9Ywr2rTUGOcinReZac_author_face_153.jpg" style='border-radius:50%' >
      <h2>Ana Paula</h2>
        <p>Manicurista Pro</p>
    </a>

   

</div>
  </ion-content>
</ion-view>

<!-- <ion-view title="Resultados" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle" ui-sref="home()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="detalleDelServicio()" id="resultados-card21">
      <ion-item class="item-avatar" id="resultados-list-item86">
        <img src="img/d8K0aBI3R9qK10aOwKvz_knAkWz8I_400x400.jpg">
        <h2>Ana Paula</h2>
        <p>Manicurista Pro</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/V8CVqbFVTr2iA1QguaGb_Depositphotos_24120511_m.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="resultados-list-item-container4">
        <div id="resultados-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Serviio personalizado a domicilio con la mejor atencion</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="resultados-list-item87">
        <i class="icon ion-android-favorite-outline"></i>Manicure Express</ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="detalleDelServicio()" id="resultados-card22">
      <ion-item class="item-avatar" id="resultados-list-item88">
        <img src="img/Bb9Ywr2rTUGOcinReZac_author_face_153.jpg">
        <h2>Berta Rebeca</h2>
        <p>Manicurista Experta</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/5nm7cfFvTVOIahlo4rth_manicurista.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="resultados-list-item-container5">
        <div id="resultados-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Serviio personalizado a domicilio con la mejor atencion</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="resultados-list-item89">
        <i class="icon ion-android-favorite-outline"></i>Uñas en Gel</ion-item>
    </a>
  </ion-content>
</ion-view> -->